@charset "UTF-8";
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}

#page-top a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999;
}

#page-top a:hover {
  text-decoration: none;
  color: black;
  background: #999;
}

#top {
  width: 100%;
  height: 100vh;
  position: relative;
}

#top ::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  /*背景画像設定*/
}

body {
  font-family: "Objective-bold", sans-serif;
  background-color: black;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: black;
  border-bottom: solid 1px white;
}

.border {
  position: relative;
  text-align: center;
  font-size: 18px;
}

.border:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px #fcfcfc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: border_anim 3.5s linear forwards;
          animation: border_anim 3.5s linear forwards;
}

@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  background-color: #000000;
  position: fixed;
  top: 0px;
  z-index: 10;
  border: none;
}

header .header-left {
  border-radius: 50% white;
}

header .header-left img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header-left img:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header .header-left img ::after {
  opacity: 1;
}

header .header-right {
  margin-left: auto;
  margin-right: 40px;
  margin-top: 10px;
  letter-spacing: 2.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-right span {
  display: block;
  height: 30px;
  width: 1px;
  background: white;
  margin-left: 5px;
  margin-right: 5px;
}

header .header-right a {
  line-height: 30px;
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .header-right a:hover {
  background-color: #cacaca;
  text-shadow: 2px 2px 3px #000;
  color: #5a5a5a;
  margin-bottom: 25px;
}

.logo {
  height: 60px;
  margin-top: 2.5px;
  margin-left: 10px;
}

.top-wrapper {
  color: white;
  text-align: center;
}

.top-wrapper .container {
  padding-bottom: 10%;
  border: none;
}

.top-wrapper .container h1 {
  display: none;
  font-size: 770%;
  color: #111;
  -webkit-text-stroke: 1px #fff;
}

.top-wrapper .container h1.type {
  padding-top: 15%;
}

.top-wrapper .container h1 .title {
  color: #69a022;
}

.sub-title {
  padding-top: 50px;
  font-size: 304%;
  text-align: center;
  color: #111;
  -webkit-text-stroke: 1px #fff;
}

.about-wrapper .container {
  text-align: center;
  padding-bottom: 5%;
}

.about-wrapper .container .about {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-wrapper .container .about .about-info {
  margin: 0 auto;
  display: column;
  font-family: "Spectral", serif;
}

.about-wrapper .container .about .about-info .myName {
  margin-top: 0;
  font-size: 304%;
}

.about-wrapper .container .about .about-info p {
  margin-top: 20px;
  font-size: 154%;
}

.about-wrapper .container a {
  display: block;
  margin-top: 150px;
  font-size: 154%;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Spectral", serif;
}

.about-wrapper .container a:hover {
  color: #69a022;
}

.works-wrapper .container {
  padding-bottom: 10%;
}

.works-wrapper .container .sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-wrapper .container .sub-container .left-margin {
  width: 25%;
}

.works-wrapper .container .sub-container .right-margin {
  width: 25%;
}

.works-wrapper .container .sub-container .worksFolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  height: 25%;
}

.works-wrapper .container .sub-container .worksFolder .workList {
  margin: 0 auto;
  margin-top: 50px;
  height: 270px;
  width: 450px;
  display: column;
}

.works-wrapper .container .sub-container .worksFolder .workList .workImg {
  height: 240px;
  background: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.works-wrapper .container .sub-container .worksFolder .workList .workImg:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.works-wrapper .container .sub-container .worksFolder .workList p {
  font-family: "Spectral", serif;
  font-size: 154%;
  text-align: center;
  margin-top: 10px;
}

.contact-wrapper .container {
  padding-bottom: 5%;
}

.contact-wrapper .container .form-container {
  margin-top: 50px;
}

.contact-wrapper .container .form-container .form-item {
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
}

.contact-wrapper .container .form-container .form-item p {
  font-family: "Spectral", serif;
  font-size: 154%;
}

.contact-wrapper .container .form-container .form-item .form-name, .contact-wrapper .container .form-container .form-item textarea {
  background-color: #cacaca;
  width: 100%;
  border: solid 1px #362a2a;
  border-radius: 5px;
}

.contact-wrapper .container .form-container .form-item .emaillarea .form-email {
  background-color: #cacaca;
  border: solid 1px #362a2a;
  border-radius: 5px;
  width: 65%;
}

.contact-wrapper .container .form-container .form-item .emaillarea .form-domain {
  background-color: #cacaca;
  border: solid 1px #362a2a;
  border-radius: 5px;
  width: 33%;
}

.contact-wrapper .container .form-container .form-item textarea {
  height: 180px;
}

.contact-wrapper .container .form-container .form-submit {
  color: black;
  text-align: center;
  font-family: "Spectral", serif;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 50px;
  width: 120px;
  padding: 5px 20px 5px 20px;
  background-color: #cacaca;
  border-bottom: 8px solid #362a2a;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact-wrapper .container .form-container .form-submit:hover {
  color: #69a022;
}

.contact-wrapper .container .form-container .form-submit:active {
  border-bottom: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  border-bottom: 2px solid #362a2a;
  cursor: pointer;
}

.contact-wrapper .container .catch {
  display: fixed;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 250%;
  font-family: "Spectral", serif;
}

.contact-wrapper .container .sub-catch {
  color: white;
  text-align: center;
  font-size: 20px;
}

footer {
  position: relative;
  font-size: 30px;
  height: 90px;
  text-align: center;
  letter-spacing: 2.1px;
  color: white;
  background-color: #000;
  z-index: 1;
}

.far {
  color: white;
}

.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.fadein-menu {
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.shadow_img {
  -webkit-filter: drop-shadow(5px 5px 5px #aaa);
          filter: drop-shadow(5px 5px 5px #aaa);
}

/*スクロールダウン全体の場所*/
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1%;
  right: 50%;
  opacity: 0;
  /*矢印の動き1秒かけて永遠にループ*/
  -webkit-animation: arrowmove 1s ease-in-out infinite;
          animation: arrowmove 1s ease-in-out infinite;
}

.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 10px;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrolldown::before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #94abd6;
  -webkit-transform: skewX(-31deg);
          transform: skewX(-31deg);
}

.scrolldown ::after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #eee;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@-webkit-keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

@media (max-width: 500px) {
  .top-wrapper .container h1 {
    font-size: 250%;
    text-align: center;
  }
  .top-wrapper .container h1.type {
    padding-top: 75%;
  }
  .container .header-right {
    display: none;
  }
  .container .openbtn4 {
    position: relative;
    /*ボタン内側の基点となるためrelativeを指定*/
    background: #69a022;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    left: 260px;
    /*ボタン内側*/
    /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
  }
  .container .openbtn4 span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    width: 45%;
  }
  .container .openbtn4 span:nth-of-type(1) {
    top: 13px;
  }
  .container .openbtn4 span:nth-of-type(2) {
    top: 19px;
  }
  .container .openbtn4 span:nth-of-type(3) {
    top: 25px;
  }
  .container .openbtn4 span:nth-of-type(3)::after {
    content: "Menu";
    /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 5px;
    left: -2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  .container .openbtn4.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .container .openbtn4.active span:nth-of-type(2) {
    opacity: 0;
  }
  .container .openbtn4.active span:nth-of-type(3) {
    top: 26px;
    left: 18px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  .container .openbtn4.active span:nth-of-type(3)::after {
    content: "Close";
    /*3つ目の要素のafterにClose表示を指定*/
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  }
}
/*# sourceMappingURL=style.css.map */